md-toolbar.md-whiteframe-z2
  div.md-toolbar-tools
    h2
      i.material-icons question_answer
      | &nbsp; กำหนดตารางปฏิบัติงาน

md-progress-linear(md-mode="indeterminate", ng-show="showLoading")
md-card
  md-card-content

    div(layout="row", layout-fill)
      div(flex)
        //- md-input-container
        //-   label เจ้าหน้าที่
        //-   md-select(ng-model="employeeCode" style="width: 350px;")
        //-     md-option
        //-       em เลือกเจ้าหน้าที่
        //-     md-option(ng-repeat="employee in employees", ng-value="employee.employee_code")
        //-       | [{{ employee.employee_code }}] {{employee.fullname}}

        md-autocomplete(
          md-selected-item="employeeDetail"
          md-search-text="searchText"
          md-items="employee in querySearch(searchText)"
          md-item-text="employee.fullname"
          md-selected-item-change="selectedItemChange(employee)"
          md-min-length="0"
          placeholder="เลือกเจ้าหน้าที่?")
          md-item-template
            span(md-highlight-text="searchText" md-highlight-flags="^i")
              | {{employee.fullname}}

        md-input-container
          label เดือน
          md-select(ng-model="monthCode")
            md-option
              em เลือกเดือน
            md-option(ng-repeat="month in months", ng-value="month.month")
              {{month.name}}
        md-input-container
          label ปี
          md-select(ng-model="yearCode")
            md-option
              em เลือกปี
            md-option(ng-repeat="year in years", ng-value="year.year")
              | {{year.name}}
        md-button(class="md-raised md-primary", ng-click="showServiceDate()" ng-disabled="!employeeDetail || !monthCode || !yearCode") แสดงข้อมูล
        md-button(class="md-raised md-warn", ng-click="saveService()" ng-disabled="!selectedService.length") บันทึก
    md-table-container
      table(md-table)
        thead(md-head)
          tr(md-row)
            th(md-column) วันที่
            th(md-column) 
              | เวรเช้า
              br
              md-checkbox
            th(md-column) 
              | เวรบ่าย
              br
              md-checkbox
            th(md-column) 
              | เวรดึก
              br
              md-checkbox
        tbody(md-body)
          tr(md-row, ng-if="!serviceDates.length")
            td(md-cell, colspan="5") ไม่พบรายการ

          tr(md-row, ng-repeat="d in serviceDates", ng-if="serviceDates.length")
            td(md-cell) {{ d.thdate }}
            td(md-cell)
              md-checkbox(ng-click="toggle(d.date, '1')", ng-checked="isChecked(d.date, '1')") เช้า
            td(md-cell)
              md-checkbox(ng-click="toggle(d.date, '2')", ng-checked="isChecked(d.date, '2')") บ่าย
            td(md-cell)
              md-checkbox(ng-click="toggle(d.date, '3')", ng-checked="isChecked(d.date, '3')") ดึก