doctype html
html
  head
    meta(charset="utf-8")
    title ขออนุญาตไปราชการ โรงพยาบาลกันทรวิชัย
    style.
      html, body {
      margin: 0;
      padding: 10px 20px 0px 20px;
      font-size: 16px;
      font-family: 'TH Sarabun New';
      line-height: 100%;
      }

      .small-space-line {
        line-height: 85%;
      }
      .div-employees {
        font-size: 14px;
        display: block;
        float: left;
        width: 250px;
        border: 0px solid;
      }
      .div-employees2 {
        font-size: 15px;
        display: block;
        float: left;
        border: 0px solid;
      }
      /*table*/
      table {
        border-spacing: 0;
        border-collapse: collapse;
      }
      td,
      th {
      padding: 0;
      }
      table {
      background-color: transparent;
      }
      caption {
      padding-top: 8px;
      padding-bottom: 8px;
      color: #777;
      text-align: left;
      }
      th {
      text-align: left;
      }
      .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
      }
      .table > thead > tr > th,
      .table > tbody > tr > th,
      .table > tfoot > tr > th,
      .table > thead > tr > td,
      .table > tbody > tr > td,
      .table > tfoot > tr > td {
      padding: 1px;
      vertical-align: top;
      border-top: 1px solid #333232;
      }
      .table > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #333232;
      }
      .table > caption + thead > tr:first-child > th,
      .table > colgroup + thead > tr:first-child > th,
      .table > thead:first-child > tr:first-child > th,
      .table > caption + thead > tr:first-child > td,
      .table > colgroup + thead > tr:first-child > td,
      .table > thead:first-child > tr:first-child > td {
      border-top: 0;
      }
      .table > tbody + tbody {
      border-top: 0 solid #333232;
      }
      .table .table {
      background-color: #fff;
      }
      .table-condensed > thead > tr > th,
      .table-condensed > tbody > tr > th,
      .table-condensed > tfoot > tr > th,
      .table-condensed > thead > tr > td,
      .table-condensed > tbody > tr > td,
      .table-condensed > tfoot > tr > td {
      padding: 5px;
      }
      .table-bordered {
      border: 1px solid #333232;
      }
      .table-bordered > thead > tr > th,
      .table-bordered > tbody > tr > th,
      .table-bordered > tfoot > tr > th,
      .table-bordered > thead > tr > td,
      .table-bordered > tbody > tr > td,
      .table-bordered > tfoot > tr > td {
      border: 1px solid #333232;
      }
      .table-bordered > thead > tr > th,
      .table-bordered > thead > tr > td {
      border-bottom-width: 2px;
      }
      .table-striped > tbody > tr:nth-of-type(odd) {
      background-color: #f9f9f9;
      }
      .table-hover > tbody > tr:hover {
      background-color: #f5f5f5;
      }
      table col[class*="col-"] {
      position: static;
      display: table-column;
      float: none;
      }
      table td[class*="col-"],
      table th[class*="col-"] {
      position: static;
      display: table-cell;
      float: none;
      }
      .table > thead > tr > td.active,
      .table > tbody > tr > td.active,
      .table > tfoot > tr > td.active,
      .table > thead > tr > th.active,
      .table > tbody > tr > th.active,
      .table > tfoot > tr > th.active,
      .table > thead > tr.active > td,
      .table > tbody > tr.active > td,
      .table > tfoot > tr.active > td,
      .table > thead > tr.active > th,
      .table > tbody > tr.active > th,
      .table > tfoot > tr.active > th {
      background-color: #f5f5f5;
      }
      .table-hover > tbody > tr > td.active:hover,
      .table-hover > tbody > tr > th.active:hover,
      .table-hover > tbody > tr.active:hover > td,
      .table-hover > tbody > tr:hover > .active,
      .table-hover > tbody > tr.active:hover > th {
      background-color: #e8e8e8;
      }
      .table-responsive {
      min-height: .01%;
      overflow-x: auto;
      }
  body
    div(style="text-align: center;")
      h2(style="line-height: 2px") ใบขออนุญาตไปราชการและใช้รถยนต์ โรงพยาบาลกันทรวิชัย

    table(width="100%")
      tr
        td(width="50%", style="text-align: center;") &nbsp;
        td(width="50%", style="text-align: center;")
          strong วันที่ #{ask.currentDate}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    p: | เรื่อง &nbsp;&nbsp;
      strong ขออนุญาตไปราชการและใช้รถยนต์
      br
      | เรียน &nbsp;&nbsp;
      strong ผู้อำนวยการโรงพยาบาลกันทรวิชัย

    | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ข้าพเจ้า &nbsp;
    strong #{ask.fullname}
    | &nbsp; ตำแหน่ง&nbsp;
    strong #{ask.positionName}
    | &nbsp;พร้อมด้วยผู้มีรายชื่อ ดังต่อไปนี้
    if employees.length
      - var i = 1;
      each e in employees
        span.div-employees #{i}).&nbsp; #{e.fullname} #{e.position_name}
        if i%2 == 0
          br
        - i++
      br
    else 
      div(style="margin-left: 50px; font-size: 14px;")
        | 1).................................................. ตำแหน่ง ...................... &nbsp;&nbsp; 2).................................................. ตำแหน่ง ......................
        br
        | 3).................................................. ตำแหน่ง ...................... &nbsp;&nbsp; 4).................................................. ตำแหน่ง ......................
    p: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; มีความประสงค์จะขออนุญาตไปราชการและใช้รถยนต์ไปที่ &nbsp;
      strong
        u #{ask.targetName}
      | &nbsp; ราชการที่จะไปคือ &nbsp;
      strong
        u #{ask.cause} 
      | &nbsp; ในวันที่ &nbsp;
      strong #{ask.startDate}
      | &nbsp; เวลา 
      strong #{ask.startTime}
      | &nbsp; น. ถึงวันที่ &nbsp; 
      strong #{ask.endDate}
      | &nbsp; เวลา 
      strong #{ask.endTime}
      | &nbsp; น. รวมเวลาไปราชการครั้งนี้ &nbsp;
      strong #{ask.totalDay}
      | &nbsp; วัน ในระยะทางไปกลับ &nbsp;
      strong #{ask.distance}
      | &nbsp; กิโลเมตร
      | &nbsp; มีคนนั่ง 
      strong #{employees.length}
      | &nbsp; คน โดยมี &nbsp;
      if ask.responsibleName
        strong #{ask.responsibleName}
      else 
        span ...............................................................
      | &nbsp; เป็นผู้รับผิดชอบในการขอใช้รถยนต์
    p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; จึงเรียนมาเพื่อโปรดอนุญาต
    table(width="100%")
      tr
        td(width="50%") &nbsp;
        td(width="50%", style="text-align: left;")
          | (ลงชื่อ)...........................................ผู้ขออนุญาต
          br
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (#{ask.fullname}) 
          br
          |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ตำแหน่ง #{ask.positionName}
      
    br 
    table(width="100%", style="margin-left: 40px;")
      tr

        td(width="50%", style="text-align: left;")
          | ความเห็นของหัวหน้าฝ่าย/กลุ่มงาน
          br
          | .....................................................................
          br
          br
          | (ลงชื่อ).........................................................
          br
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (...................................................)
          br
          | ตำแหน่ง ........................................................

        td(width="50%", style="text-align: left;")
          | ความเห็นของหัวหน้าฝ่ายบริหารงานทั่วไป
          br
          | .....................................................................
          br
          br
          | (ลงชื่อ).........................................................
          br
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (นางรุ่งนภา ทองชำนิ)
          br
          | ตำแหน่ง นักจัดการงานทั่วไปปฏิบัติการ
    table(style="width: 100%")
      tr
        td(colspan="2")
          div(style="padding-top: 10px;")
            | ความเห็นของผู้ควบคุมรถยนต์....................................................................................................................................................
      tr
        td(style="text-align: top;")
          br
          | (ลงชื่อ).........................................................
          br
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (................................................)
          br
          | ตำแหน่ง ..............................................

        td(style="width: 85%; text-align: top; padding-left: 10px;")
          |เห็นควรใช้รถยนต์...................................โดยมี (พนักงานขับรถ)
          div.div-employees2
            - var x = 1;
            each d in drivers
              if x%2 != 0
                | [&nbsp;&nbsp;&nbsp;] #{d.fullname}&nbsp;&nbsp;&nbsp;
              else
                | [&nbsp;&nbsp;&nbsp;] #{d.fullname}
              if x%2 == 0
                br
              - x++
    table(width="100%")
      tr
        td(colspan="2", style="border-top: 1px solid;")
         div(style="padding: 10px 0 0 0")
          span(style="font-size: 18px;") ความเห็นของผู้อำนวยการโรงพยาบาล
          br
          | (&nbsp;&nbsp;&nbsp;) อนุญาต &nbsp;&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) ไม่อนุญาต เนื่องจาก.................................................................................................................
      tr
        td(width="50%") &nbsp;
        td(width="50%", style="text-align: left; font-size: 18px;")
          br
          br
          | (ลงชื่อ)...........................................ผู้อนุญาต
          br
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(นายเจษฐา  พัชรเวทิน)
          br
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ผู้อำนวยการโรงพยาบาลกันทรวิชัย